 
 body {
  font-family: 'Avenir', sans-serif;
  
 }
 .main {
   height: 150%;
 }
 .navigation-list {
display: flex;
overflow:hidden;
list-style-type:none;
padding: 0px;
justify-content: flex-end;
background-color: #6eddaf;
color: #f9f9ff;
}

table,th,td {
  border:1px solid black;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.UServoteList table,th,td {
  border:1px solid black;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding-left: 46px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
}
img {
  border: 3px;
  height: 60px ;
  width: 130px;
}
table td img {
 border: 3px;
  height: 60px ;
  width: 130px; 
}
table td button {
 background: #61c67a;
}

.row{
  display: flex;
}

.sidenav{
  display:flex;
  flex-direction: column;
  width:10%
}
.userProfileForm{
  display: flex;
  flex-direction: column;
}
.sidenav a {
  padding: 5px;
  margin-bottom: 5px;
  border-right: 5px solid;
  flex: 40%
}
.login-form input[type="file"]{
  margin-left: 5px;
}
.candidate{
  display: flex;
  justify-content: center;
  flex: 60%
}
li.navigation-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.navigation-item a:hover {
  border-bottom: 2px solid #888;
  color:#f9f9ff;
}

.logo a {
  text-decoration: none;
}

.logo span{
  height: 50px;
  color: #61c67a;
  margin-bottom:0px;
  background-color:#f9f9ff;
  padding:14px 16px;
  font-size:40px;
  font-weight: bold;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

main section.section-about {
 display:flex;
 height: 100%;
 justify-content: center;
 align-items: center;
 /* background:  url("./NigeriaVoting.jpg"); */
 background-size: 174px;
 padding-top: 10px;
}
.SignInBtn{
 display: flex;
 margin-bottom: 15px;
}
div .sign-up{
  margin-right: 30px;
}
div .frgtpass{
  margin-left: 30px
}
.signUpReset{
  margin-bottom: 10px
}
.signUpReset .forgtPass{
  margin-left: 5%
}
 
.signUp .AlrdhaveAcc{
  margin-left: 5%
}
/* .signUpReset{
  display:flex;
  align-items: center;
  justify-content: space-between;
} */

.editpary-container,.createparty-container{
  max-width: 400px;
  padding: 20px;
  width: 100%;
  height: 80%;
  margin: 10px auto;
  border: 2px solid #888;
  border-radius: 5px;
  text-align: center;
}
/* .editLogo{
 display: flex;
 /* flex-direction: column 
} */
/* .editParty-container */
.UserProfile{
  display: flex;
  flex-direction: column;
  justify-content: center
}
.politiciansContainer{
  border: 2px solid #888;
  text-align: center;
  padding: 4px 9px 1px 6px;
  margin: 10px auto;
  border-radius: 5px;
}
.UServoteList h3{
  text-align: center
}
.UServoteList table{
  width: 106%
}
.UserProfile img{
  display: block;
  margin: 0 auto;
}
UserProfile{
  text-align: center;
}
.userProfileContainer{
  border: 2px solid #888;
  text-align: center;
  padding: 4px 9px 1px 6px;
  margin: 10px auto;
  border-radius: 5px;
  width: 100%;
  height: 80%;
}
.createGovtOffc-Container{
  max-width: 400px;
  padding: 20px;
  width: 100%;
  height: 80%;
  margin: 10px auto;
  border: 2px solid #888;
  border-radius: 5px;
  text-align: center;
}
.createoffice-form{
 display: flex;
 flex-direction: column;
 margin-bottom: 5%
}
select{
  margin-bottom:5%
}
.login-container{
  max-width: 400px;
  padding: 20px;
  width: 100%;
  height: 115%;
  margin: 10px auto;
  border: 2px solid #888;
  border-radius: 5px;
  text-align: center;
}
.login-form{
  display:flex;
  flex-direction: column;
}
.login-form div{
  display: flex; 
}
.form-input{
  margin-bottom:12px;
}
@media screen and (max-width:700px){
  .navigation-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 433px){
  .row{
    flex-direction: column;
  }
  .sidenav{
    flex-direction: row;
    border-right: none;
  }
}