body {
  font-family: 'Avenir', sans-serif;
 }
 
 header {
   padding: 14px 16px;
   background-color: #f9f9ff;
   height: 50px;
 }
 .logo {
   float: left;
   padding: 14px 16px;
   font-size: 40px;
   font-weight: bold;
   color: #61c67a;
 }
 ul.navigation-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   overflow: hidden;
   float: right;
 }
 li.navigation-item {
   float: left
 }
 li.navigation-item a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li.navigation-item a:hover {
   border-bottom: 2px solid #888;
   color:#6eddaf
 }
 
 li.navigation-item.active { 
   border-bottom: 2px solid #888;
   color:#6eddaf
 }
 
 li.navigation-item a:active{
   color:#6eddaf
 }
 section.section-about {
   padding: 10%;
  background-color: #c4c4c4
 }
 button.findOut-about {
   border-style: solid;
   border-width: thin;
   background-color: #61c67a;
   padding: 10px
 }
 section.section-login,
 section.section-signUp,
 section.section-editParty,
 section.section-createParty,
 section.section-resetPassword,
 section.section-createGovtoffice,
 section.section-ApplyCandidacy
  {
   margin-top: 50px
 }
 
 .login-container{
   padding: 5px;
   width: 30%;
   height: 60%;
   margin: 0 auto;
   border: 2px solid #888;
   border-radius: 5px;
   text-align: center
 }
 
 label.form-input{
   display: inline;
   width: 140px;
   text-align: right;
   margin-left: 20px
 }
 select.ApplyCandidacy{
   width: 60%;
   text-align: center
 }

 textarea.applycandidate{
   text-align: left;
   margin-bottom: 15px;
 }
 .signUp-container,
 .editParty-container,
 .createParty-container,
 .resetPassword-container,
 .createGovtoffice-container,
 .ApplyCandidacy-container
 {
   max-width: 400px;
   padding: 10px;
   width: 100%;
   height: 70%;
   margin: 0 auto;
   border: 2px solid #888;
   border-radius: 5px;
   text-align: center
 }
 
 input.form-input {
   width: 80%;
   margin: 0 auto;
   display: block;
   padding:10px 12px;
   margin-bottom: 15px; 
 }
 input[type="file"]{
   margin-bottom: 15px;
   position: center;
   
 }
 
 button.form-input{
   cursor: pointer;
   width: 30%;
   border: none;
   background:  #696969;
   color: #FFF;
   margin: 0 0 5px;
   padding: 10px;
   font-size: 15px;
   margin-bottom: 10px;
   margin-left:5px;
 
 }
 button#resetPassword,#createGovtoffice{
   width:50%
 }
 .signUp-form input {
   margin: 0 0 10px;
   padding: 0;
   width: 80%;
   padding:10px 12px;
 }
 